.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.content-center {
    justify-content: center;
}

.content-between {
    justify-content: space-between;
}

.content-evenly {
    justify-content: space-evenly;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap4 {
    gap: 4px;
}

.gap8 {
    gap: 8px;
}

.gap12 {
    gap: 12px;
}

.gap16 {
    gap: 16px;
}

.text-center {
    text-align: center;
}

.button {
    all: unset;
    width: 150px;
    text-align: center;
    height: 40px;
    font-weight: 600;
    border-radius: 10px;
    background-color: var(--main-color);
    /* border: 2px solid var(--main-bg-color); */
    color:  var(--main-bg-color);
    cursor: pointer;
}

.input {
    all: unset;
    padding: 5px 7px;
    /* border: 2px solid #c2c0f7; */
    border: 2px solid var(--main-color);
    /* color: white; */
    border-radius: 5px;
}