.home-container {
    /* width: 100vw;
    height: 100vh; */
    height: calc(100vh - var(--main-header-height));
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.card-container {
    width: 300px;
    height: 200px;
    /* border: 5px solid #615EFC; */
    /* background-color: #7E8EF1; */
    background-color: var(--main-color);
    color: var(--main-bg-color);
    /* color: var(--main-bg-color); */
    border-radius: 10px;
}

.home-form > .input {
    border-color: var(--main-bg-color);;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    /* color: white; */
}

.home-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
