.home-container {
    /* width: 100vw;
    height: 100vh; */
    height: calc(100vh - var(--main-header-height));
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    position: relative;
    margin-top: 22px;
    overflow: hidden;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.card-container {
    width: 300px;
    height: 200px;
    /* border: 5px solid #615EFC; */
    /* background-color: #7E8EF1; */
    background-color: var(--main-color);
    color: var(--main-bg-color);
    /* color: var(--main-bg-color); */
    border-radius: 10px;
}

.home-form > .input {
    border-color: var(--main-bg-color);;
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    /* color: white; */
}

.home-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.game-mode-list {
    position: absolute;
    right: 0;
    width: 75%;
}

.game-mode-item {
    background-color: var(--main-color);
    color: var(--main-bg-color);
    padding: 20px;
    border-radius: 5px 0 0 5px;
    transition-duration: 0.5s;
}

.game-mode-item:hover {
    transform: scaleX(1.1);
}

.game-mode-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
}
.game-mode-description {
    font-size: 20px;
}