.board {
    display: grid;
    /* gap: 2px; */
    /* border: 5px solid var(--main-color); */
    /* width: 450px;
    height: 800px; */
    position: relative;
}

.board-border {
    border: 5px solid var(--main-color);
}

.box-border {
    border-bottom: 5px solid var(--main-color);
    border-right: 5px solid var(--main-color);
    padding: 5px;
}

.board-piece-preview {
    display: grid;
    gap: 2px;
    /* border: 1px solid red; */
    /* width: 450px;
    height: 800px; */
    position: relative;
}


.gameOver {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: red;
    font-size: 26px;
    z-index: 1;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-preview-container > span {
    font-size: 24px;
}

.board-preview {
    gap: 0;
    position: relative;
}

.board-box-container {
    display: flex;
    flex-direction: column;
    /* border: 8px solid black; */
}

.box-title {
    font-weight: bold;
    background-color: var(--main-color);
    font-size: 20px;
    padding: 5px;
    color: var(--main-bg-color);
    border-right: 5px solid var(--main-color);
}

.cell {
    border: 1px solid purple;
    border: 1px solid rgba(255, 255, 255, 0.05);
    position: relative;
    /* border-radius: 5px; */
    padding: 2px;
}

.cell-piece-preview {
    position: relative;
    /* border-radius: 5px; */
    padding: 2px;
    /* border: 1px solid rgba(255, 255, 255, 0.05); */
}

.cell-preview {
    background-color: grey !important;
    border-radius: 0 !important;
}

.drop-preview {
    opacity: 0.2;
}

.countdown-container > span {
    position: absolute;
    top: 0;
    left: -200px;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    font-weight: bolder;
    z-index: 4;
}

.tetromino {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    /* border-radius: 5px; */
    border-top: 4.5px solid rgba(255, 255, 255, 0.811);
    border-left: 4.5px solid #80808066;
    border-bottom: 4.5px solid #616161f4;
    border-right: 4.5px solid #80808066;
}

.tetromino-spec {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 5px;
}

.playerName {
    text-align: center;
    font-size: 30px;
}

.score-container  {
    margin-bottom: 20px;
    margin-right: 10px;
    text-align: center;
    flex-direction: column-reverse;
}

.score-container > span {
    font-size: 35px;
    font-weight: bold;
}

.tetromino_I {
    background-color: aqua;
}

.tetromino_J {
    background-color: blue;
}

.tetromino_L {
    background-color: orange;
}

.tetromino_O {
    background-color: yellow;
}

.tetromino_S {
    background-color: green;
}

.tetromino_T {
    background-color: purple;
}

.tetromino_Z {
    background-color: red;
}

.tetromino_indestructible {
    background-color: darkgray;
}

.tetromino_spec {
    background-color: grey;
}



@media screen and (max-width: 650px) {
    .score-container > span {
        font-size: 18px;
    }

    .playerName {
        font-size: 18px;
    }
}