:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  height: 100%;
  width: 100%;
  /* font-family: "Nunito Sans", sans-serif; */
  font-family: "Kanit", sans-serif;
  --main-bg-color: #EFF0F4;
  --main-color: #262B39;
  --main-header-height: 70px;
  
  color: var(--main-color);
  /* background-color: #8480f5; */
  /* background-color: var(--main-bg-color); */
  /* background-image: linear-gradient(to right top, #ffffff, #c5c4c9, #8c8d96, #575965, #262b39); */
  /* background-image: radial-gradient(circle, #ffffff, #c5c4c9, #8c8d96, #575965, #262b39); */
  /* background-image: linear-gradient(to bottom, #ffffff, #c5c4c9, #8c8d96, #575965, #262b39); */
  /* background-image: linear-gradient(to bottom, #ffffff, #d8d8dc, #b1b2bb, #8b8e9b, #656c7c); */
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
}

* {
	box-sizing: border-box;
}