.form-container {
    width: 100vw;
    height: 100vh;
}

h4 {
    font-size: 20px;
    text-transform: uppercase;
}

.form {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}